.header-container {
    background-image: url('../img/about-header-bg.jpg');
}

.aboutUs .subtitle {
    margin-top: 30px;
    margin-bottom: 40px;
}

.aboutUs__description {
    font-size: 16px;
    line-height: 1.7;
}

.aboutUs__team {
    background-color: #6ac6e4;
    color: white;
}

.aboutUs__team .aboutUs__team-item {
    padding: 40px;
}

.aboutUs__team-avatar {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.aboutUs__team-person {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}

.aboutUs__team-position {
    font-size: 16px;
    margin: 5px;
}