.header-container,
.banner {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.banner-container {
  margin-top: -1px;
}

.banner-bg-container img {
  max-width: 100%;
}
.banner {
  padding: 50px 0 200px;
  background-color: #fff;
  background-position: bottom center;
  color: #fff; }
  .banner .row {
    position: relative; }
  .banner__content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .banner__content {
    margin: auto;
    max-width: 310px; }
  .banner__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 3px; }
  .banner__subtitle {
    margin: 10px 0 40px;
    font-size: 20px; }
  .banner__pic-container {
    position: relative;
    left: 50%; }
  .banner__image {
    width: 100%; }
.subtitle {
  color: #403c39; }
  .subtitle:first-letter {
    color: #56c7e7; }

.branding {
  position: relative;
  padding: 0 10px;
  margin-bottom: -5%;
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
 }
  .branding-bg img {
    max-width: 100%;
  }
  .branding-content-container {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .branding .row {
    position: relative; }
  .branding .col-6 {
    position: relative;
    left: 50%; }
  .branding .subtitle__container {
    text-align: center;
    display: inline-block; }
  .branding .subtitle__icon {
    max-width: 30px; }
  .branding .subtitle {
    margin: 20px 0; }
  .branding__content {
    max-width: 350px;
    margin: 0 auto; }
  .branding__article {
    padding-left: 7%;
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.7em; }

.production {
  padding: 20px 0; }
  .production .subtitle {
    margin-top: 30px; }
  .production__section-title {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%); }
  .production__content {
    padding: 10% 0;
    background-image: url(../img/procuction-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center; }
  .production__img {
    max-height: 120px; }
  .production__title {
    margin: 20px 0; }
  .production__subtitle {
    display: inline-block;
    padding: 5px 14px;
    margin: 0;
    min-width: 140px;
    color: #fff;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/
    border-radius: 14px; }
  .production__list {
    margin: 20px 0 34px; }
  .production__item {
    padding: 0 0 10px; }
  .production__item ~ .production__item:before {
    content: "";
    display: block;
    margin: 0 auto 10px;
    height: 2px;
    max-width: 140px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }

.advantage {
  margin: 0 auto;
  max-width: 940px;
}

.ap {
  background-image: url(../img/ap-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  color: #fff; }
  .ap .col-4 {
    padding: 10px; }
  .ap .subtitle__container {
    padding-bottom: 23px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .ap .subtitle__icon {
    display: block;
    margin: 0 auto; }
  .ap .subtitle {
    display: inline-block;
    padding: 3px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #0d4dab, #56c7e7);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d4dab), to(#56c7e7));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d4dab, #56c7e7);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d4dab, #56c7e7);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1)";
    /*IE8+*/
    border-radius: 30px; }

    .ap .subtitle:first-letter {
      color: inherit; }
    .advantage .subtitle span:first-letter {
      color: #56c7e7;
    }
    .ap .subtitle span {
      display: inline-block;
      padding: 7px 18px;
      border: 2px solid transparent;
      background-color: #fff;
      border-radius: 30px; }
  .ap__title {
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #56c7e7, transparent);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(transparent));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, transparent);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, transparent);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent)";
    /*IE8+*/
    border-radius: 20px; }
  .ap__advantage-article {
    padding: 0 20px 20px;
    max-width: 400px;
    line-height: 1.7em;
    letter-spacing: 2px; }
  .ap__image {
    max-width: 108%; }
  .ap__project {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 940px;
  }
  .ap__project-title {
    margin: 30px 0; }
    .ap__project-title:first-letter {
      color: #56c7e7; }
  .ap__project-item {
    padding: 2px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }
  .ap__project-item-content {
    background-color: #fff;
    min-height: 170px; }
  .ap__project-item-content img {
    width: 100%; }
  .ap__pic-container {
    position: relative;
    margin: 8% 0; }
  .ap__project-bg-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .ap__project-bg-text-1 {
    position: absolute;
    top: 42%;
    left: 42%;
    max-width: 20%; }
  .ap__project-icon {
    position: absolute;
    text-align: center;
  }

.client {
  padding: 70px 10px 40px; }
  .client .last-row > li:first-child {
    margin-left: 31.25%; }
  .client__content {
    margin-top: 50px;
    margin-bottom: 20px; }
  .client__item {
    float: left;
    width: 12.5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    .client__item:before {
      content: "";
      display: block;
      padding: 50%; }
  .client .item-28 {
    background-image: url(../img/client-28.png); }
  .client .item-29 {
    background-image: url(../img/client-29.png); }
  .client .item-30 {
    background-image: url(../img/client-30.png); }
  .client .item-31 {
    background-image: url(../img/client-31.png); }
  .client .item-32 {
    background-image: url(../img/client-32.png); }
  .client .item-33 {
    background-image: url(../img/client-33.png); }
  .client .item-34 {
    background-image: url(../img/client-34.png); }
  .client .item-35 {
    background-image: url(../img/client-35.png); }
  .client .item-36 {
    background-image: url(../img/client-36.png); }
  .client .item-37 {
    background-image: url(../img/client-37.png); }
  .client .item-38 {
    background-image: url(../img/client-38.png); }
  .client .item-39 {
    background-image: url(../img/client-39.png); }
  .client .item-40 {
    background-image: url(../img/client-40.png); }
  .client .item-41 {
    background-image: url(../img/client-41.png); }
  .client .item-42 {
    background-image: url(../img/client-42.png); }
  .client .item-43 {
    background-image: url(../img/client-43.png); }
  .client .item-44 {
    background-image: url(../img/client-44.png); }
  .client .item-45 {
    background-image: url(../img/client-45.png); }
  .client .item-46 {
    background-image: url(../img/client-46.png); }
  .client .item-47 {
    background-image: url(../img/client-47.png); }
  .client .item-48 {
    background-image: url(../img/client-48.png); }
  .client .item-49 {
    background-image: url(../img/client-49.png); }
  .client .item-50 {
    background-image: url(../img/client-50.png); }
  .client .item-51 {
    background-image: url(../img/client-51.png); }
  .client .item-52 {
    background-image: url(../img/client-52.png); }
  .client .item-53 {
    background-image: url(../img/client-53.png); }
  .client .item-54 {
    background-image: url(../img/client-54.png); }
  .client .item-55 {
    background-image: url(../img/client-55.png); }
  .client .item-56 {
    background-image: url(../img/client-56.png); }
  .client .item-57 {
    background-image: url(../img/client-57.png); }
  .client .item-58 {
    background-image: url(../img/client-58.png); }
  .client .item-59 {
    background-image: url(../img/client-59.png); }
  .client .item-60 {
    background-image: url(../img/client-60.png); }
  .client .item-61 {
    background-image: url(../img/client-61.png); }
  .client .item-62 {
    background-image: url(../img/client-62.png); }
  .client .item-63 {
    background-image: url(../img/client-63.png); }
  .client .item-64 {
    background-image: url(../img/client-64.png); }
  .client .item-65 {
    background-image: url(../img/client-65.png); }
  .client .item-66 {
    background-image: url(../img/client-66.png); }
  .client .item-67 {
    background-image: url(../img/client-67.png); }
  .client .item-68 {
    background-image: url(../img/client-68.png); }
  .client__item-logo {
    float: left;
    width: 25%; }
    .client__item-logo img {
      max-width: 100%; }
  .client__logo-container {
    padding: 13px 5px;
    margin: 0 auto -1px;
    max-width: 50%;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }

.contact {
  padding: 0 10px; }
  .contact .form {
    position: relative; }
  .contact .button span {
    min-width: 100px; }
  .contact__button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 24px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%); }
  .contact__pic {
    max-width: 100%; }

/*# sourceMappingURL=homepage.css.map */

.ap__icon-1 {
  position: absolute;
  top: 38%;
  left: 14%;
}

.ap__icon-2 {
  position: absolute;
  top: -9%;
  left: 36%;
}

.ap__icon-3 {
  position: absolute;
  top: 15%;
  left: 86%;
}

.ap__project-icon .icon {
  width: 35px;
}

.ap__project-icon p {
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .branding {
    padding: 0;
  }

  .branding:before,
  .branding:after {
    content: none;
  }
}