.header-container,
.banner {
  background-image: url(../img/banner-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.banner-container {
  margin-top: -1px;
}

.banner-bg-container img {
  max-width: 100%;
}
.banner {
  padding: 50px 0 200px;
  background-color: #fff;
  background-size: 100% 100%;
  background-position: bottom center;
  color: #fff; }
  .banner .row {
    position: relative; }
  .banner__content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .banner__content {
    margin: auto;
    max-width: 310px; }

  .en .banner__content {
    max-width: 420px;
  }
  .banner__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 3px; }
  .banner__subtitle {
    margin: 10px 0 40px;
    font-size: 20px; }
  .banner__pic-container {
    position: relative;
    left: 50%; }
  .banner__image {
    width: 100%; }
.subtitle {
  color: #403c39; }
  .subtitle:first-letter {
    color: #56c7e7; }

.branding {
  position: relative;
  padding: 0 10px;
  margin-bottom: -5%;
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
 }
  .branding-bg img {
    max-width: 100%;
  }
  .branding-content-container {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    width: 100%;
  }
  .branding .row {
    position: relative; }
  .branding .col-6 {
    position: relative;
    left: 50%; }
  .branding .subtitle__container {
    text-align: center;
    display: inline-block; }
  .branding .subtitle__icon {
    max-width: 30px; }
  .branding .subtitle {
    margin: 20px 0; }
  .branding__content {
    max-width: 350px;
    margin: 0 auto; }
  .branding__article {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.7em; }

.production {
  padding: 20px 0; }
  .production .subtitle {
    margin-top: 30px; }
  .production__section-title {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%); }
  .production__content {
    padding: 14% 0 10%;
    background-image: url(../img/procuction-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center; }
  .production__img {
    max-height: 120px; }
  .production__title {
    margin: 20px 0; }
  .production__subtitle {
    display: inline-block;
    padding: 5px 14px;
    margin: 0;
    min-width: 140px;
    color: #fff;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/
    border-radius: 14px; }
  .production__list {
    margin: 20px 0 34px; }
  .production__item {
    padding: 0 0 10px; }
  .production__item ~ .production__item:before {
    content: "";
    display: block;
    margin: 0 auto 10px;
    height: 2px;
    max-width: 140px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }
  .production__learn-more .subtitle__icon{
    height: 10px;
    transform: scale(0.5,0.5);
    cursor: pointer;
  }
  .production__download-hint {
    display: block;
    padding: 10px;
  }
  .production__download-text {
    color: #56c7e7;
    cursor: pointer;
  }
  .production__download {
    display: none;
    padding: 30px 0 0;
  }
  .production__download.active {
    display: block;
  }
  .production__divider {
    height: 1px;
    background-color: #56c7e7;
    width: 20%;
    margin: 20px auto;
  }

.advantage {
  margin: 0 auto;
  max-width: 940px;
}

.ap {
  background-image: url(../img/ap-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  color: #fff; }
  .ap .col-4 {
    padding: 10px; }
  .ap .subtitle__container {
    padding-bottom: 23px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .ap .subtitle__icon {
    display: block;
    margin: 0 auto; }
  .ap .subtitle {
    display: inline-block;
    padding: 3px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #0d4dab, #56c7e7);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d4dab), to(#56c7e7));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d4dab, #56c7e7);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d4dab, #56c7e7);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1)";
    /*IE8+*/
    border-radius: 30px; }

    .ap .subtitle:first-letter {
      color: inherit; }
    .advantage .subtitle span:first-letter {
      color: #56c7e7;
    }
    .ap .subtitle span {
      display: inline-block;
      padding: 7px 18px;
      border: 2px solid transparent;
      background-color: #fff;
      border-radius: 30px; }
  .ap__title {
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #56c7e7, transparent);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(transparent));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, transparent);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, transparent);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent)";
    /*IE8+*/
    border-radius: 20px; }

  .en  .ap__title {
    font-size: 16px;
  }
  .ap__advantage-article {
    padding: 0 20px 20px;
    max-width: 400px;
    line-height: 1.7em;
    letter-spacing: 2px; }

  .en .ap__advantage-article {
      line-height: 1.3em;
      letter-spacing: 0;
    }
  .ap__image {
    max-width: 108%; }
  .ap__project {
    padding: 80px 0;
    margin: 0 auto;
    max-width: 940px;
  }
  .ap__project-title {
    margin: 30px 0; }
    .ap__project-title:first-letter {
      color: #56c7e7; }
  .ap__project-item {
    display: block;
    padding: 2px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/
    cursor: pointer;}
  .ap__project-item-content {
    background-color: #fff;
    min-height: 170px; }
  .ap__project-item-content img {
    width: 100%; }
  .ap__pic-container {
    position: relative;
    margin: 13% 0; }

  .en .ap__pic-container {
    margin: 16% 0;
  }
  .ap__project-bg-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .ap__project-bg-text-1 {
    position: absolute;
    top: 42%;
    left: 42%;
    max-width: 20%; }
  .ap__project-icon {
    position: absolute;
    text-align: center;
  }

.client {
  padding: 70px 10px 40px; }
  .client .last-row > li:first-child {
    margin-left: 31.25%; }
  .client__content {
    margin-top: 50px;
    margin-bottom: 20px; }
  .client__item {
    float: left;
    width: 12.5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
    .client__item:before {
      content: "";
      display: block;
      padding: 50%; }
  .client .item-28 {
    background-image: url(../img/client-28.png); }
  .client .item-29 {
    background-image: url(../img/client-29.png); }
  .client .item-30 {
    background-image: url(../img/client-30.png); }
  .client .item-31 {
    background-image: url(../img/client-31.png); }
  .client .item-32 {
    background-image: url(../img/client-32.png); }
  .client .item-33 {
    background-image: url(../img/client-33.png); }
  .client .item-34 {
    background-image: url(../img/client-34.png); }
  .client .item-35 {
    background-image: url(../img/client-35.png); }
  .client .item-36 {
    background-image: url(../img/client-36.png); }
  .client .item-37 {
    background-image: url(../img/client-37.png); }
  .client .item-38 {
    background-image: url(../img/client-38.png); }
  .client .item-39 {
    background-image: url(../img/client-39.png); }
  .client .item-40 {
    background-image: url(../img/client-40.png); }
  .client .item-41 {
    background-image: url(../img/client-41.png); }
  .client .item-42 {
    background-image: url(../img/client-42.png); }
  .client .item-43 {
    background-image: url(../img/client-43.png); }
  .client .item-44 {
    background-image: url(../img/client-44.png); }
  .client .item-45 {
    background-image: url(../img/client-45.png); }
  .client .item-46 {
    background-image: url(../img/client-46.png); }
  .client .item-47 {
    background-image: url(../img/client-47.png); }
  .client .item-48 {
    background-image: url(../img/client-48.png); }
  .client .item-49 {
    background-image: url(../img/client-49.png); }
  .client .item-50 {
    background-image: url(../img/client-50.png); }
  .client .item-51 {
    background-image: url(../img/client-51.png); }
  .client .item-52 {
    background-image: url(../img/client-52.png); }
  .client .item-53 {
    background-image: url(../img/client-53.png); }
  .client .item-54 {
    background-image: url(../img/client-54.png); }
  .client .item-55 {
    background-image: url(../img/client-55.png); }
  .client .item-56 {
    background-image: url(../img/client-56.png); }
  .client .item-57 {
    background-image: url(../img/client-57.png); }
  .client .item-58 {
    background-image: url(../img/client-58.png); }
  .client .item-59 {
    background-image: url(../img/client-59.png); }
  .client .item-60 {
    background-image: url(../img/client-60.png); }
  .client .item-61 {
    background-image: url(../img/client-61.png); }
  .client .item-62 {
    background-image: url(../img/client-62.png); }
  .client .item-63 {
    background-image: url(../img/client-63.png); }
  .client .item-64 {
    background-image: url(../img/client-64.png); }
  .client .item-65 {
    background-image: url(../img/client-65.png); }
  .client .item-66 {
    background-image: url(../img/client-66.png); }
  .client .item-67 {
    background-image: url(../img/client-67.png); }
  .client .item-68 {
    background-image: url(../img/client-68.png); }
  .client .item-69 {
    background-image: url(../img/client-69.png);
  }
  .client__item-logo {
    float: left;
    width: 25%; }
    .client__item-logo img {
      max-width: 100%; }
  .client__logo-container {
    padding: 13px 5px;
    margin: 0 auto -1px;
    max-width: 50%;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }

.contact {
  padding: 0 10px; }
  .contact .form {
    position: relative; }
  .contact .button span {
    min-width: 100px; }
  .contact__button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 24px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%); }
  .contact__pic {
    max-width: 110%; }

.contact .subtitle__container {
  padding-top: 40px;
}
/*# sourceMappingURL=homepage.css.map */

.ap__icon-1 {
  position: absolute;
  top: 38%;
  left: 14%;
}

.en .ap__icon-1 {
  left: 11%;
  max-width: 170px;
}

.ap__icon-2 {
  position: absolute;
  top: -9%;
  left: 36%;
}

.ap__icon-3 {
  position: absolute;
  top: 15%;
  left: 86%;
}

.en .ap__icon-3 {
  left: 87%;
}

.ap__project-icon .icon {
  width: 35px;
}

.ap__project-icon p {
  font-size: 16px;
  margin-top: 10px;
}

.en .ap__project-icon p {
  font-size: 12px;
}

.unicorn {
  background-color: #eee;
  padding-bottom: 60px;
}

.unicorn .container {
  text-align: center;
}

.unicorn__icon {
  width: 20%;
  margin: 70px 0 20px;
}

.unicorn__subtitle {
  color: #56c7e7;
}

.unicorn__introduction {
  max-width: 800px;
  background: #fff;
  padding: 40px 80px;
  margin: 0 auto;
  border-bottom: 5px solid #56c7e7;
  text-align: center;
}

.unicorn__introduction p {
  line-height: 1.5em;
}

.qrcode-cs__container {
  text-align: center;
}

@media (max-width: 1200px) {
  .branding {
    padding: 0;
  }

  .branding:before,
  .branding:after {
    content: none;
  }

  .branding,
  .advantage,
  .client {
    padding-left: 30px;
    padding-right: 30px;
  }

  .ap {
    background-size: 100% 100%;
  }

  .client__item {
    width: 25%;
  }

  .contact {
    padding-left: 0;
    padding-right: 0;
  }

  .modal {
    max-width: 50%;
  }
}

@media (max-width: 992px) {
  .branding__article {
    margin: 7px 0;
    font-size: 12px;
  }

  .advantage > .row {
    margin-top: -40px;
  }

  .ap__title {
    margin: 10px 0;
  }

  .ap__advantage-article {
    padding-bottom: 5px;
    font-size: 12px;
  }

  .ap__image {
    max-width: 100%;
  }

  .ap__project-icon .icon {
    width: auto;
    height: 24px;
  }

  .ap__icon-1 {
    left: 11%;
  }

  .ap__icon-2 {
    left: 32%;
  }

  .ap__icon-3 {
    left: 80%;
  }

  .ap__project-icon p {
    font-size: 14px;
  }

  .ap__project-item-content {
    min-height: auto;
  }

  .ap__project {
    padding: 50px 10px;
  }

  .qrcode-cs {
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 30px 0 50px;
    background-size: 100% 150%;
    background-position: top left;
  }

  .banner__pic-container,
  .banner__content-container {
    left: 0;
    width: 100%;
  }

  .banner__content-container {
    text-align: center;
    position: static;
    top: 0;
    margin-top: 30px;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }

  .banner__title {
    font-size: 24px;
    letter-spacing: 0;
  }

  .banner__subtitle {
    margin-bottom: 30px;
    font-size: 12px;
  }

  .banner .button {
    font-size: 12px;
  }

  .branding {
    padding: 0;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
  }

  .branding-content-container {
    position: static;
    padding: 0 15px;
    margin: 30px 0 0;
  }

  .branding-bg {
    overflow-x: hidden;
  }

  .branding-bg img {
    max-width: 160%;
  }

  .branding .subtitle__container {
    display: block;
  }

  .branding .subtitle {
    margin: 15px 0;
  }

  .branding .col-6 {
    left: 0;
    width: 100%;
  }

  .branding__article {
    margin: 7px 10px;
  }

  .production {
    padding: 30px 0 50px;
  }

  .production__content .col-4 {
    width: 100%;
  }

  .subtitle__icon {
    max-width: 30px;
  }

  .production .subtitle {
    margin: 15px 0 25px;
  }

  .production__img {
    max-height: 90px;
  }

  .production__title,
  .production__subtitle,
  .production__item {
    font-size: 12px;
  }

  .ap {
    background-size: 150% 100%;
  }

  .ap .subtitle__container {
    padding-bottom: 10px;
  }

  .ap .subtitle {
    margin: 10px 0;
  }

  .ap .col-5,
  .ap .col-7 {
    width: 100%;
  }

  .advantage {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ap__pic-container {
    margin: 10% 0;
  }

  .ap__project {
    padding: 30px 4px;
  }

  .ap__project-title {
    margin: 20px 0;
  }

  .ap__project .col-4 {
    padding: 4px;
    width: 50%;
  }

  .ap__icon-1 {
    left: 9%;
  }

  .en .ap__icon-1 {
    left: 4%;
    max-width: 140px;
  }

  .ap__icon-2 {
    left: 30%;
  }

  .en .ap__icon-2 {
    left: 27%;
  }

  .en .ap__icon-3 {
    left: 76%;
  }

  .unicorn__introduction {
    padding: 20px;
  }

  .client {
    padding: 30px 15px;
  }

  .client .subtitle {
    margin-bottom: 0;
  }

  .client__content {
    margin: 0;
  }

  .client__item {
    width: 33.333333%;
  }

  .contact .row {
    display: block;
  }

  .contact .col-6 {
    width: 100%;
  }

  .contact .form {
    padding: 0 15px;
  }

  .contact__button {
    position: static;
    padding-left: 0;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
  }

  .contact__button .button,
  .contact__button .button__main-text {
    width: 100%;
  }

  .contact__pic {
    display: none;
  }

  .contact .subtitle__container {
    padding-top: 20px;
  }

  .unicorn__icon {
    margin: 60px 0 10px;
  }

  .unicorn {
    padding-bottom: 50px;
  }

  .qrcode-cs {
    max-width: 200px;
  }
}
