.banner {
  padding-bottom: 100px;
  background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(left, #56c7e7, #0d4dab);
  /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
  /*IE8+*/
  color: #fff; }
  .banner .row {
    position: relative; }
  .banner__content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .banner__content {
    margin: auto;
    max-width: 310px; }
  .banner__title {
    margin: 0;
    font-size: 42px;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 3px; }
  .banner__subtitle {
    margin: 10px 0 40px;
    font-size: 20px; }
  .banner__pic-container {
    position: relative;
    left: 50%; }

.branding {
  padding: 40px 10px; }
  .branding .container {
    padding: 200px 0;
    background-image: url(../img/branding-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center; }
  .branding .row {
    position: relative; }
  .branding .col-6 {
    position: relative;
    left: 50%; }
  .branding .subtitle__container {
    text-align: center;
    display: inline-block; }
  .branding .subtitle__icon {
    max-width: 30px; }
  .branding .subtitle {
    margin: 20px 0; }
  .branding__content {
    max-width: 350px;
    margin: 0 auto; }
  .branding__article {
    padding-left: 7%;
    margin: 30px 0;
    font-size: 16px;
    line-height: 1.7em; }

.production {
  padding: 20px 10px; }
  .production .subtitle {
    margin-top: 30px; }
  .production__section-title {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%); }
  .production__content {
    padding: 15% 0;
    background-image: url(../img/procuction-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center; }
  .production__img {
    max-height: 120px; }
  .production__title {
    margin: 20px 0; }
  .production__subtitle {
    display: inline-block;
    padding: 5px 14px;
    margin: 0;
    min-width: 140px;
    color: #fff;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/
    border-radius: 14px; }
  .production__list {
    margin: 20px 0 34px; }
  .production__item {
    padding: 0 0 10px; }
  .production__item ~ .production__item:before {
    content: "";
    display: block;
    margin: 0 auto 10px;
    height: 2px;
    max-width: 140px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }

.ap {
  background-image: url(../img/ap-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  color: #fff; }
  .ap .col-3 {
    padding: 10px; }
  .ap .subtitle__container {
    padding-bottom: 23px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .ap .subtitle__icon {
    display: block;
    margin: 0 auto; }
  .ap .subtitle {
    display: inline-block;
    padding: 3px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #0d4dab, #56c7e7);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d4dab), to(#56c7e7));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d4dab, #56c7e7);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d4dab, #56c7e7);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1)";
    /*IE8+*/
    border-radius: 30px; }
    .ap .subtitle:first-letter {
      color: inherit; }
    .ap .subtitle span {
      display: inline-block;
      padding: 7px 18px;
      border: 2px solid transparent;
      background-color: #fff;
      border-radius: 30px; }
  .ap__title {
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, #56c7e7, transparent);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(transparent));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, transparent);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, transparent);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent)";
    /*IE8+*/
    border-radius: 20px; }
  .ap__advantage-article {
    padding: 0 20px 20px;
    max-width: 400px;
    line-height: 1.7em;
    letter-spacing: 2px; }
  .ap__project {
    padding: 80px 0; }
  .ap__project-title {
    margin: 30px 0; }
    .ap__project-title:first-letter {
      color: #56c7e7; }
  .ap__project-item {
    padding: 2px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }
  .ap__project-item-content {
    background-color: #fff;
    min-height: 170px; }

.client {
  padding: 70px 0; }
  .client__content {
    margin-top: 50px;
    margin-bottom: 20px; }
  .client__item {
    float: left;
    border: 1px solid #bab7b6;
    width: 22%;
    min-height: 150px; }
  .client__item ~ .client__item {
    border-left: 0; }
  .row ~ .row .client__item, .row ~ .row .client__item-logo {
    border-top: 0; }
  .client__item-logo {
    float: left;
    border: 1px solid #bab7b6;
    border-left: 0;
    width: 12%;
    min-height: 150px; }
    .client__item-logo img {
      max-width: 100%; }
  .client__logo-container {
    padding: 20px 5px;
    margin: -10px -1px -1px;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/ }

.contact {
  padding: 50px 10px; }
  .contact .form {
    position: relative; }
  .contact .button span {
    min-width: 100px; }
  .contact__button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 24px;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%); }
  .contact__pic {
    max-width: 100%; }

/*# sourceMappingURL=homepage.css.map */
