* {
  box-sizing: border-box; }

html {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  color: #2e2e2e;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  color: #2e2e2e;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
 }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

ul {
  padding-left: 0;
  margin: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

button {
  padding: 0; }

  .subtitle__icon {
    max-width: 50px; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-middle {
  vertical-align: middle; }

.text-top {
  vertical-align: text-top; }

.media-top {
  display: table-cell;
  vertical-align: top; }

.container {
  max-width: 1200px;
  margin: auto; }

.row:after {
  content: "";
  display: block;
  clear: both; }

.col-3 {
  float: left;
  width: 25%; }

.col-4 {
  float: left;
  width: 33.333333%; }

.col-5 {
  float: left;
  width: 41.666666%;
}

.col-6 {
  float: left;
  width: 50%; }

  .col-7 {
    width: 58.333333%;
    float: left;
  }

.col-8 {
  float: left;
  width: 66.666666%; }

.col-9 {
  float: left;
  width: 75%; }

.tablet-show {
  display: none;
}

.button {
  border: 0;
  color: #fff;
  background-color: transparent; }
  .button span {
    padding: 10px 15px; }
  .button__main-text {
    display: inline-block;
    background: -moz-linear-gradient(left, #3b1961, #372da5);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#3b1961), to(#372da5));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #3b1961, #372da5);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #3b1961, #372da5);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$button-color-1, endColorstr=$button-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$button-color-1, endColorstr=$button-color-2)";
    /*IE8+*/
    font-weight: 600;
    border-radius: 20px; }
  .button__sub-text {
    border-radius: 0 20px 20px 0;
    background-image: url(../img/button-bg.png);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: right center; }
  .button__main-text ~ .button__sub-text {
    padding-left: 25px;
    margin-left: -15px; }

.header {
  padding: 20px;
  color: #fff; }
  .header .container:after {
    content: "";
    display: block;
    clear: both; }
  .header__logo {
    float: left;
    max-width: 136px; }
    .header__logo a {
      display: block; }
    .header__logo img {
      max-width: 100%; }
  .header__nav {
    float: right;
    margin: 37px 0; }
  .header__nav-item {
    display: inline-block;
    margin: 0 15px; }
    .header__nav-item a {
      display: block;
      padding: 15px 0; }
  .header__nav-switch {
    position: absolute;
    top: 0;
    margin-left: 20px; }
  .header__nav-switch-item {
    padding: 3px 0;
    cursor: pointer; }
  .header__nav-switch-item ~ .header__nav-switch-item {
    display: none; }
  .header__nav-item.language {
    position: relative;
    min-width: 48px;
  }
  .header__nav-item.language li {
    padding: 0;
  }
  .header__nav-item.language a {
    padding: 3px 0;
  }
  .header__nav-item.language:hover .header__nav-switch-item ~ .header__nav-switch-item {
    display: block; }

.footer {
  padding: 100px 10px 50px 10px; }
  .footer__base-info-container {
    padding-right: 20px; }
  .footer__base-info {
    padding: 10px 20px; }
  .footer__qrcode {
    max-width: 70px; }
  .footer__info {
    padding-left: 20px;
    font-size: 12px; }
    .footer__info p {
      margin: 5px 0 10px;
      max-width: 200px;
      line-height: 1.5em;
      letter-spacing: 1px; }
    .footer__info li {
      display: inline-block;
      line-height: 1.5em;
      letter-spacing: 1px; }
    .footer__info li ~ li {
      margin-left: 20px; }
  .footer__divider {
    border-top: 1px solid #56c7e7; }
  .footer__logo {
    max-width: 60%; }

.form {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 420px; }
  .form__group {
    margin-bottom: 20px; }
  .form__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; }
  .form__input-wrapper {
    padding: 1px;
    display: inline-block;
    width: 100%;
    background: -moz-linear-gradient(left, #56c7e7, #0d4dab);
    /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(#0d4dab));
    /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #56c7e7, #0d4dab);
    /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #56c7e7, #0d4dab);
    /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2);
    /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)";
    /*IE8+*/
    border-radius: 4px; }
    .form__input-wrapper.textarea {
      font-size: 0; }
  .form__input {
    padding: 6px 12px;
    border: 0;
    font-size: 14px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    resize: none; }

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.social {
  padding: 5px; }
  .social__item {
    display: inline-block;
    margin: 0 2px; }
    .social__item a {
      display: block; }
    .social__item img {
      max-width: 24px; }

.cube-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.cube-group-1,
.cube-group-2 {
  display: inline-block; }

.cube-group-1 {
  position: absolute;
  top: 35%;
  left: 16.8%;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5); }

.cube-group-2 {
  position: absolute;
  top: 46.2%;
  left: 17.3%; }

.cube-group-3 {
  position: absolute;
  top: 31.5%;
  right: 13.6%;
  transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3); }

.cube-group-4 {
  position: absolute;
  top: 37.8%;
  right: 13.1%;
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6); }

.cube {
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(-45deg); }

.cube div {
  position: absolute;
  background: transparent; }

.cube div.top {
  transform: rotateX(90deg); }

.cube div.right {
  transform: rotateY(90deg); }

.cube div.bottom {
  transform: rotateX(90deg); }

.cube div.left {
  transform: rotateY(-90deg); }

.cube-small {
  width: 10px;
  height: 10px; }

.cube-small div {
  width: 10px;
  height: 10px;
  background: -moz-linear-gradient(-45deg, #56c7e7, transparent);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#56c7e7), to(transparent));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(-45deg, #56c7e7, transparent);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(-45deg, #56c7e7, transparent);
  /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=rgba(86, 199, 231, 1), endColorstr=transparent);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=rgba(86, 199, 231, 1), endColorstr=transparent)";
  /*IE8+*/ }

.cube-small div.top {
  margin-top: -5px; }

.cube-small div.right {
  margin-left: 5px; }

.cube-small div.bottom {
  margin-top: 5px; }

.cube-small div.left {
  margin-left: -5px; }

.cube-small div.front {
  transform: translateZ(5px); }

.cube-small div.back {
  transform: translateZ(-5px); }

/* end of  cube small */
.cube-medium {
  width: 20px;
  height: 20px;
  margin-left: -5px;
  margin-top: -15px; }

.cube-medium div {
  width: 20px;
  height: 20px;
  background: -moz-linear-gradient(-45deg, rgba(86, 199, 231, 0.7), transparent);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(rgba(86, 199, 231, 0.7)), to(transparent));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(-45deg, rgba(86, 199, 231, 0.7), transparent);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(-45deg, rgba(86, 199, 231, 0.7), transparent);
  /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=rgba(86, 199, 231, 0.7), endColorstr=transparent);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=rgba(86, 199, 231, 0.7), endColorstr=transparent)";
  /*IE8+*/ }

.cube-medium div.top {
  margin-top: -10px; }

.cube-medium div.right {
  margin-left: 10px; }

.cube-medium div.bottom {
  margin-top: 10px; }

.cube-medium div.left {
  margin-left: -10px; }

.cube-medium div.front {
  transform: translateZ(10px); }

.cube-medium div.back {
  transform: translateZ(-10px); }

/* end of  cube medium */
.cube-big {
  width: 40px;
  height: 40px;
  margin-left: -15px;
  margin-top: -30px; }

.cube-big div {
  width: 40px;
  height: 40px;
  background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), transparent);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(rgba(255, 255, 255, 0.2)), to(transparent));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), transparent);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2), transparent);
  /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=rgba(255, 255, 255, 0.2), endColorstr=transparent);
  /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=rgba(255, 255, 255, 0.2), endColorstr=transparent)";
  /*IE8+*/ }

.cube-big div.top {
  margin-top: -20px; }

.cube-big div.right {
  margin-left: 20px; }

.cube-big div.bottom {
  margin-top: 20px; }

.cube-big div.left {
  margin-left: -20px; }

.cube-big div.front {
  transform: translateZ(20px); }

.cube-big div.back {
  transform: translateZ(-20px); }

/*  end of cube big */
/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */
@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: rotateX(-20deg) rotateY(-45deg);
    transform: rotateX(-20deg) rotateY(-45deg); }
  20% {
    -webkit-transform: rotateX(-20deg) rotateY(27deg);
    transform: rotateX(-20deg) rotateY(27deg); }
  40% {
    -webkit-transform: rotateX(-20deg) rotateY(99deg);
    transform: rotateX(-20deg) rotateY(99deg); }
  60% {
    -webkit-transform: rotateX(-20deg) rotateY(171deg);
    transform: rotateX(-20deg) rotateY(171deg); }
  80% {
    -webkit-transform: rotateX(-20deg) rotateY(243deg);
    transform: rotateX(-20deg) rotateY(243deg); }
  to {
    -webkit-transform: rotateX(-20deg) rotateY(315deg);
    transform: rotateX(-20deg) rotateY(315deg); } }
@keyframes cubeRotate {
  from {
    -webkit-transform: rotateX(-20deg) rotateY(-45deg);
    transform: rotateX(-20deg) rotateY(-45deg); }
  20% {
    -webkit-transform: rotateX(-20deg) rotateY(27deg);
    transform: rotateX(-20deg) rotateY(27deg); }
  40% {
    -webkit-transform: rotateX(-20deg) rotateY(99deg);
    transform: rotateX(-20deg) rotateY(99deg); }
  60% {
    -webkit-transform: rotateX(-20deg) rotateY(171deg);
    transform: rotateX(-20deg) rotateY(171deg); }
  80% {
    -webkit-transform: rotateX(-20deg) rotateY(243deg);
    transform: rotateX(-20deg) rotateY(243deg); }
  to {
    -webkit-transform: rotateX(-20deg) rotateY(315deg);
    transform: rotateX(-20deg) rotateY(315deg); } }
.cubeRotate {
  -webkit-animation-name: cubeRotate;
  animation-name: cubeRotate;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear; }

@-webkit-keyframes floatUpDown {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 6px);
    transform: translate(0, 6px); }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes floatUpDown {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 6px);
    transform: translate(0, 6px); }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
.floatUpDown {
  -webkit-animation-name: floatUpDown;
  animation-name: floatUpDown; }

.animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.animated.slow {
  -webkit-animation-duration: 14s;
  animation-duration: 14s; }

.header-container {
  background-size: cover;
  background-position: 0% 0%;
}

.header-general {
  color: white;
}

.header-general .row {
  position: relative;
  min-height: 570px;
  padding: 100px 0;
}

.general__content-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.general__content {
  margin: auto;
  max-width: 310px;
}

.general__title {
  font-size: 42px;
  line-height: 1.2em;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.general__subtitle {
  font-size: 20px;
}

.segment-bar.general__title-underline {
  margin-top: 10px;
  width: 75px;
}

.subtitle__underline {
  margin: 40px auto;
}

.segment-bar {
  height: 4px;
  width: 45px;
  background-color: #6ac6e4;
}

hr.segment-bar {
  margin: 0;
  border-top: 6px solid #6ac6e4;
  width: 100%;
}

.section__container {
  padding: 40px 20px 80px 20px;
}

.section__content {
  font-size: 16px;
  line-height: 1.7;
}

@media (max-width: 1200px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 992px) {
  .tablet-show {
    display: block;
  }

  .header {
    padding: 10px 30px;
  }

  .header__logo {
    max-width: 170px;
  }

  .header__nav {
    display: none;
  }

  .mobile-menu {
    float: right;
    padding: 12px;
  }

  .mobile-menu img {
    max-width: 40px;
  }
}