html {
  font-size: 16px;
  width: auto;
  overflow-x: initial;
}

body {
  width: auto;
  overflow-x: initial;
}

input {
  padding: 6px 12px;
  border: 0;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
}

button {
  padding: 6px 12px;
  border: 0;
  background-color: #efefef;
  box-shadow: none;
  outline: none;
}

.social__list {
  display: inline-block;
}

.social__qrcode {
  display: inline-block;
  text-align: center;
  margin: 0 2px;
  max-width: 80px;
}

.social__qrcode img {
  max-width: 100%;
}

.social__qrcode span {
  font-size: 11px;
}

.banner {
  position: relative;
  padding: 28% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../studing-abroad/banner-bg.jpg);
}

.banner .title {
  font-size: 64px;
  font-weight: bold;
  max-width: 450px;
  color: #fff;
}

.banner__content {
  position: absolute;
  top: 50%;
  width: 100%;
}

.subtitle {
  font-size: 36px;
  color: #21cbff;
  font-weight: bold;
}

.intro {
  position: relative;
  padding: 18% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../studing-abroad/introduction-bg.jpg);
}

.intro__content {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  color: #fff;

  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.intro__content p {
  padding: 15px 0;
  margin: auto;
  max-width: 760px;
  line-height: 1.7em;
  font-weight: bold;
}

.intro__content a {
  display: inline-block;
  padding: 7px 40px;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.course {
  padding: 30px 15px;
}

.course .subtitle {
  margin: 30px 0;
}

.course__subtitle {
  margin: auto;
  max-width: 680px;
  line-height: 1.7em;
}

.course__list {
  padding: 0 40px;
  margin: 50px auto;
  border-top: 2px solid #21cbff;
  max-width: 1050px;
  font-size: 13px;
}

.course__list:after {
  content: "";
  display: block;
  clear: both;
}

.course__item {
  float: left;
  width: 20%;
}

.course__item:before {
  content: "";
  display: block;
  margin: -12px auto 0;
  border: 2px solid #21cbff;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.course__item-title {
  margin: 15px auto;
  max-width: 100px;
  min-height: 28px;
  color: #b3b3b3;
  font-size: 13px;
}

.course__item-title.single-padding {
  padding: 7px 0;
}

.course__item-content {
  padding: 20px 15px;
  margin: 20px 0;
}

.course__image {
  max-height: 54px;
}

.course__item-content a {
  text-align: center;
  display: inline-block;
  padding: 4px 20px;
  margin: 0 0 20px;
  color: #fff;
  background-color: #b3b3b3;
  letter-spacing: 0.3em;
}

.course__sublist {
  text-align: left;
  padding-left: 16px;
  margin: 20px 0;
  margin: 0 auto;
  max-width: 114px;
  color: #b3b3b3;
  list-style: disc;
}

.course__sublist li {
  line-height: 2em;
}

.course__item.active:before {
  background-color: #21cbff;
}

.course__item.active .course__item-content {
  background-color: #f2f2f2;
}

.course__item.active .course__item-title {
  color: #21cbff;
}

.course__item.active a {
  background-color: #21cbff;
}

.course__item.active .course__sublist {
  color: #4d4d4d;
}

.contact-us {
  padding: 40px 15px;
  background-color: rgba(242, 242, 242, 0.7);
}

.contact-us input,
.contact-us button {
  display: block;
  padding: 14px 24px;
  margin: 10px 0;
  width: 100%;
  font-weight: bold;
}

.contact-us .container {
  max-width: 1000px;
}

.contact-us .col-6 {
  padding: 0 15px;
}

.contact-us__subtitle {
  margin: auto;
  line-height: 1.7em;
}

.contact-us__form {
  padding: 30px 0;
}

.abroad-header {
  position: relative;
  text-align: right;
  color: #b3b3b3;
  font-weight: bold;
}

.abroad-header__logo {
  position: absolute;
  max-width: 200px;
  z-index: 1;
}

.abroad-header__logo img {
  max-width: 100%;
}

.abroad-header .header__nav-item {
  padding: 12px 0;
}

.abroad-header .header__nav-item a,
.abroad-header .header__nav-item > span {
  display: inline-block;
  padding: 5px 2px;
  border-bottom: 2px solid transparent;
}

.abroad-header .header__nav-item.active a {
  color: #21cbff;
  border-bottom-color: #21cbff;
}

.abroad-header input {
  border-radius: 6px;
}

.abroad-footer {
  padding: 30px 15px;
  color: #fff;
  background-color: #21cbff;
  font-size: 14px;
}

.abroad-footer__logo-container {
  float: left;
  width: 30%;
}

.abroad-footer__logo {
  max-width: 120px;
}

.abroad-footer__logo img {
  max-width: 100%;
}

.abroad-footer__info {
  float: left;
  padding-top: 40px;
  width: 35%;
}

.abroad-footer__info-item {
  display: inline-block;
  margin: 0 5px;
}

.abroad-footer .social {
  float: left;
  width: 35%;
}