.header-container {
    background-image: url('../img/tech-header-bg.jpg');
}

.marketing__file {
    padding-top: 60px;
}

.marketing__file-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    text-align: center;
    background-position: center;
    margin-bottom: 20px;
}

.marketing__file .container__download-container:nth-of-type(1) .marketing__file-image {
    background-image: url('../img/marketing-proposal.jpg');
}


.marketing__file .container__download-container:nth-of-type(2) .marketing__file-image {
    background-image: url('../img/service-proposal.jpg');
}

.marketing__file-button {
    background-color: #6ac6e4;
    padding: 5px 10px;
    margin-top: 40px;
    cursor: pointer;
    color: white;
}

@media(max-width: 767px) {
    .tech__file-button {
        margin-bottom: 60px;
    }
}