$smaller-font: 11px;
$small-font: 12px;
$main-font: 14px;
$big-font: 16px;
$bigger-font: 20px;
$bigest-font: 24px;
$title-font: 30px;

$page-title-font: 42px;

$theme-color-1: #56c7e7;
$theme-color-2: #0d4dab;
$main-color: #2e2e2e;
$subtitle-color: #403c39;
$black: #000;
$white: #fff;

$button-color-1: #3b1961;
$button-color-2: #372da5;
$button-color-3: #37eaf8;