@import 'var';

.banner {
  padding-bottom: 100px;
  background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
  background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
  color: $white;

  .row {
    position: relative;
  }

  &__content-container {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  &__content {
    margin: auto;
    max-width: 310px;
  }

  &__title {
    margin: 0;
    font-size: $page-title-font;
    line-height: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
  }

  &__subtitle {
    margin: 10px 0 40px;
    font-size: $bigger-font;
  }

  &__pic-container {
    position: relative;
    left: 50%;
  }

  &__image {
    width: 100%;
  }
}

.branding {
  padding: 40px 10px;

  .container {
    padding: 200px 0;
    background-image: url(../img/branding-bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
  }

  .row {
    position: relative;
  }

  .col-6 {
    position: relative;
    left: 50%;
  }

  .subtitle__container {
    text-align: center;
    display: inline-block;
  }

  .subtitle__icon {
    max-width: 30px;
  }

  .subtitle {
    margin: 20px 0;
  }

  &__content {
    max-width: 350px;
    margin: 0 auto;
  }

  &__article {
    padding-left: 7%;
    margin: 30px 0;
    font-size: $big-font;
    line-height: 1.7em;
  }
}

.production {
  padding: 20px 10px;

  .subtitle {
    margin-top: 30px;
  }

  &__section-title {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
  }

  &__content {
    padding: 15% 0;
    background-image: url(../img/procuction-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
  }

  &__img {
    max-height: 120px;
  }

  &__title {
    margin: 20px 0;
  }

  &__subtitle {
    display: inline-block;
    padding: 5px 14px;
    margin: 0;
    min-width: 140px;
    color: $white;
    background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
    border-radius: 14px;
  }

  &__list {
    margin: 20px 0 34px;
  }

  &__item {
    padding: 0 0 10px;
  }

  &__item ~ &__item:before {
    content: "";
    display: block;
    margin: 0 auto 10px;
    height: 2px;
    max-width: 140px;
    background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
  }
}

.ap {
  background-image: url(../img/ap-bg.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  color: $white;

  .col-3 {
    padding: 10px;
  }

  .subtitle__container {
    padding-bottom: 23px;

    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }

  .subtitle__icon {
    display: block;
    margin: 0 auto;
  }

  .subtitle {
    display: inline-block;
    padding: 3px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, $theme-color-2, $theme-color-1); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-2), to($theme-color-1)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-2, $theme-color-1); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-2, $theme-color-1); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-2, endColorstr=$theme-color-1)"; /*IE8+*/
    border-radius: 30px;

    &:first-letter {
      color: inherit;
    }

    span {
      display: inline-block;
      padding: 7px 18px;
      border: 2px solid transparent;
      background-color: $white;
      border-radius: 30px;
    }
  }

  &__title {
    display: inline-block;
    padding: 5px 20px;
    margin: 20px 0;
    background: -moz-linear-gradient(left, $theme-color-1, transparent); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to(transparent)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, transparent); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, transparent); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=transparent)"; /*IE8+*/
    border-radius: 20px;
  }

  &__advantage-article {
    padding: 0 20px 20px;
    max-width: 400px;
    line-height: 1.7em;
    letter-spacing: 2px;
  }

  &__image {
    max-width: 100%;
  }

  &__project {
    padding: 80px 0;
  }

  &__project-title {
    margin: 30px 0;

    &:first-letter {
      color: $theme-color-1;
    }
  }

  &__project-item {
    padding: 2px;
    background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
  }

  &__project-item-content {
    background-color: $white;
    min-height: 170px;
  }

  &__pic-container {
    position: relative;
  }

  &__project-bg-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__project-bg-text-1 {
    position: absolute;
    top: 42%;
    left: 42%;
    max-width: 20%;
  }

  &__project-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 1%;
  }
}

.client {
  padding: 70px 10px 40px;

  .last-row > li:first-child {
    margin-left: 31.25%;
  }

  &__content {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  &__item {
    float: left;
    width: 12.5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &:before {
      content: "";
      display: block;
      padding: 50%;
    }
  }

  .item-28 {
    background-image: url(../img/client-28.png);
  }

  .item-29 {
    background-image: url(../img/client-29.png);
  }

  .item-30 {
    background-image: url(../img/client-30.png);
  }

  .item-31 {
    background-image: url(../img/client-31.png);
  }

  .item-32 {
    background-image: url(../img/client-32.png);
  }

  .item-33 {
    background-image: url(../img/client-33.png);
  }

  .item-34 {
    background-image: url(../img/client-34.png);
  }

  .item-35 {
    background-image: url(../img/client-35.png);
  }

  .item-36 {
    background-image: url(../img/client-36.png);
  }

  .item-37 {
    background-image: url(../img/client-37.png);
  }

  .item-38 {
    background-image: url(../img/client-38.png);
  }

  .item-39 {
    background-image: url(../img/client-39.png);
  }

  .item-40 {
    background-image: url(../img/client-40.png);
  }

  .item-41 {
    background-image: url(../img/client-41.png);
  }

  .item-42 {
    background-image: url(../img/client-42.png);
  }

  .item-43 {
    background-image: url(../img/client-43.png);
  }

  .item-44 {
    background-image: url(../img/client-44.png);
  }

  .item-45 {
    background-image: url(../img/client-45.png);
  }

  .item-46 {
    background-image: url(../img/client-46.png);
  }

  .item-47 {
    background-image: url(../img/client-47.png);
  }

  .item-48 {
    background-image: url(../img/client-48.png);
  }

  .item-49 {
    background-image: url(../img/client-49.png);
  }

  .item-50 {
    background-image: url(../img/client-50.png);
  }

  .item-51 {
    background-image: url(../img/client-51.png);
  }

  .item-52 {
    background-image: url(../img/client-52.png);
  }

  .item-53 {
    background-image: url(../img/client-53.png);
  }

  .item-54 {
    background-image: url(../img/client-54.png);
  }

  .item-55 {
    background-image: url(../img/client-55.png);
  }

  .item-56 {
    background-image: url(../img/client-56.png);
  }

  .item-57 {
    background-image: url(../img/client-57.png);
  }

  .item-58 {
    background-image: url(../img/client-58.png);
  }

  .item-59 {
    background-image: url(../img/client-59.png);
  }

  .item-60 {
    background-image: url(../img/client-60.png);
  }

  .item-61 {
    background-image: url(../img/client-61.png);
  }

  .item-62 {
    background-image: url(../img/client-62.png);
  }

  .item-63 {
    background-image: url(../img/client-63.png);
  }

  .item-64 {
    background-image: url(../img/client-64.png);
  }

  .item-65 {
    background-image: url(../img/client-65.png);
  }

  .item-66 {
    background-image: url(../img/client-66.png);
  }

  .item-67 {
    background-image: url(../img/client-67.png);
  }

  .item-68 {
    background-image: url(../img/client-68.png);
  }

  &__item-logo {
    float: left;
    width: 25%;

    img {
      max-width: 100%;
    }
  }

  &__logo-container {
    padding: 13px 5px;
    margin: 0 auto -1px;
    max-width: 50%;
    background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
  }
}

.contact {
  padding: 0 10px;

  .form {
    position: relative;
  }

  .button {
    span {
      min-width: 100px;
    }
  }

  &__button{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 24px;

    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
  }

  &__pic {
    max-width: 100%;
  }
}