@import './var';

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: $main-font;
  color: $main-color;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $main-color;

  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  min-width: 1200px;
}

h1 {
  font-size: $title-font;
}

h2 {
  font-size: $bigest-font;
}

h3 {
  font-size: $bigger-font;
}

h4 {
  font-size: $main-font;
}

h5 {
  font-size: $small-font;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
}

.subtitle {
  color: $subtitle-color;

  &:first-letter {
    color: $theme-color-1;
  }

  &__icon {
    max-width: 50px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-middle {
  vertical-align: middle;
}

.text-top {
  vertical-align: text-top;
}

.media-top {
  display: table-cell;
  vertical-align: top;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.col-3 {
  float: left;
  width: 25%;
}

.col-4 {
  float: left;
  width: 33.333333%;
}

.col-6 {
  float: left;
  width: 50%;
}

.col-8 {
  float: left;
  width: 66.666666%;
}

.button {
  border: 0;
  color: $white;
  background-color: transparent;

  span {
    padding: 10px 15px;
  }

  &__main-text {
    display: inline-block;
    background: -moz-linear-gradient(left, $button-color-1, $button-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($button-color-1), to($button-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $button-color-1, $button-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $button-color-1, $button-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$button-color-1, endColorstr=$button-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$button-color-1, endColorstr=$button-color-2)"; /*IE8+*/
    font-weight: 600;
    border-radius: 20px;
  }

  &__sub-text {
    border-radius: 0 20px 20px 0;
    background-image: url(../img/button-bg.png);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: right center;
  }

  &__main-text ~ &__sub-text {
    padding-left: 25px;
    margin-left: -15px;
  }
}

.header {
  padding: 20px;
  background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
  background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
  color: $white;

  .container:after {
    content: "";
    display: block;
    clear: both;
  }


  &__logo {
    float: left;
    max-width: 136px;

    a {
      display: block;
    }

    img {
      max-width: 100%;
    }
  }

  &__nav {
    float: right;
    margin: 37px 0;
  }

  &__nav-item {
    display: inline-block;
    margin: 0 15px;

    a {
      display: block;
      padding: 15px 0;
    }
  }

  &__nav-switch {
    margin-left: 20px;
  }

  &__nav-switch-item {
    padding: 3px 0;
    cursor: pointer;
  }

  &__nav-switch-item ~ &__nav-switch-item {
    display: none;
  }
}

.form {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 420px;

  &__group {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  &__input-wrapper {
    padding: 1px;
    display: inline-block;
    width: 100%;
    background: -moz-linear-gradient(left, $theme-color-1, $theme-color-2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from($theme-color-1), to($theme-color-2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, $theme-color-1, $theme-color-2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, $theme-color-1, $theme-color-2); /*Opera11*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2); /*IE<9>*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=$theme-color-1, endColorstr=$theme-color-2)"; /*IE8+*/
    border-radius: 4px;

    &.textarea {
      font-size: 0;
    }
  }

  &__input {
    padding: 6px 12px;
    border: 0;
    font-size: $main-font;
    width: 100%;
    background-color: $white;
    border-radius: 4px;
    resize: none;
  }
}

.d-flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-middle {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}